*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}

    *::after {
    box-sizing: border-box;
}
$color-text: #1b2b5f;
 $color-background: #9dce16;
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
  
}
body {
    color: $color-text;
}

 
a {
    text-decoration: none;
    color: $color-text;
}


@mixin flexbox($align: flex-start,$justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}


.wrapper {
    width: 100%;
    max-width: 100%;
    margin:auto;
    .container {
        max-width: 1210px;
        margin: 0 auto;
        padding: 0 2rem;

        .header {
            @include flexbox(center,space-between ,nowrap );
            height: 60px;
            font-size: 2rem;        
            margin-top: 3rem;
            &__logo {
                font-size: 2.3rem;
            }    
            &__logo span {
                font-weight:bold;
                color: $color-background;
                height: 100%;
            }
            nav {
                height: 100%
            }
            &__nav ul {
                @include flexbox(center);
                li:last-child {
                    margin-left: 70px;
                    border: solid 1px currentColor;
                    padding: 1rem 1.5rem;
                    border-radius: 5rem ;
                    min-width: 5rem;
                }
                height: 100%;
                li {
                    list-style-type: none;
                    display: block;
                    height: 100%;
                    margin-left: 50px;
                    a {
                        @include flexbox(center );
                        height: 100%;
                        
                    }
                }
            }
        }
    }
}

.banner {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    h1 {
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    p {
        font-size: 1.6rem;
        padding: 0 13%;
        margin-bottom: 3.4rem;
    }
    &__btn {
        @include flexbox(stretch,center );
        &-item {
            margin: 1rem;
        }
    }
}
.category {
    padding-top: 18rem;
    .container {
            @include flexbox(flex-start,space-between);
            &__item {
                display: block;
                width: calc((100% - 9rem)/4) ;
                position: relative;
                padding: 2rem;
                text-align: center;
                border: solid 1px transparent ;
                box-shadow:-4px 13px 20px 2px #ee82ee52;
                margin-bottom: 30rem;
                border-radius: 2rem;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 2rem;
                    margin-bottom: 1.7rem;
                }
                p:first-of-type {
                    font-size: 2rem;
                    font-weight:bold;;
                    text-align: left;
                    margin-bottom: 1.4rem;
                }
                p:last-of-type {
                    font-size: 1.4rem;
                    opacity: .5;
                    text-align: left;
                }
            }
            }
        }
.figure {
    &-item:nth-child(odd) {
        display: flex;
        .figure-content {
            padding-left: 3rem;
        }
    }
    &-item:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
    } 
    &-item {
        padding-bottom: 15rem;
        img {
            width: 50%;
        }

        .figure-content {
            h1 {
                font-weight:bold;
                font-size: 3rem;
                margin-bottom: 5rem;
            }
            p {
                padding: 2rem 0;
                font-size: 2rem;
                max-width: 85%;
            }
            p:nth-of-type(1) {
                opacity: .5;
            }
            p  a {
                font-size: 1.7rem;
                text-decoration: underline;
            }
        }

    }
}

.figure-item2 {
    .figure-content {
        p:not(:nth-of-type(1))  {
            position: relative;
            padding-left: 4rem;
            & a {
                text-decoration: none;
            }
           &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 3rem;
                height: 3rem;
                background-color: #666;
                border-radius: 50%;
            }
            
        }
        p.pink:after {
            background-color:pink;
        }
        p.green:after {
            background-color:green;
        }
        p.blue:after {
            background-color:blue;
        }
    }
    }

    .figure-item3 {
        .figure-content {
            h1 {
                font-size: 3rem;
                font-weight:bold;
            }
            .figure-content-best {
                @include flexbox (flex-start,space-between,wrap);
                &-wrapper {
                    h1 {
                        font-size: 1.6rem;
                        width: 80%;
                        margin:1rem 0 0 0;
                    }
                    width: 50%;
                    .icon {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2.6rem;
                        position: relative;
                        text-align: center;
                    }
                    .icon::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: currentColor;
                        opacity: .3;
                        border-radius: 4px;
                    }
                    .icon1::before {
                        background-color:#ff547c;
                    }
                    .icon2::before {
                        background-color: #875e97;
                    }
                    .icon3::before {
                        background-color: #51f330;
                    }
                }
            }
        }
    }

    .partners {
        .content {
            text-align: center;
            padding-bottom :7rem;
            border-bottom: solid 2px currentColor;
            width: 82.5rem;
            font-size: 3rem;
            margin: 0 auto;
            margin-bottom: 7rem;
        }
       .partners-img{
            text-align: center;
            img {
                padding-left: 5rem;
                padding-right: 1rem;
            }
        }
    }

    .Connect {
        padding: 20rem 0 6rem;
        text-align: center;
        p:first-child {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 3rem;
        }
        p:last-of-type {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 6.4rem;
            span {
                color: $color-background;
            }
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            div {
                width: calc(25% - 22.5px);
                img {
                    width: 100%;
                }
            }
        }
    }

    .subscribe {
        display: flex;
        justify-content: space-between;
        border-bottom: solid currentColor .3rem;
        p:first-child {
                width: 45%;
                font-size: 2.7rem;
                font-weight: bold;
        }
        div:nth-child(2) {
            width: 50%;
            .email {
                width: 100%;
                background-color: #f2f1f6;
                padding: 2.5rem;
                display: flex;
                justify-content: space-between;
                font-size: 1.4rem;
                input {
                    outline: transparent;
                    border: none;
                    background-color: transparent;
                }
            }
            .social-icon {
                width: 100%;
                padding: 4rem 0  8rem;
                font-size: 1.9rem;
                i {
                    padding: 0 2rem;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
        padding-bottom: 19rem;
        border-bottom: solid currentColor 1px;
        div {
            font-size: 2rem;
            width: calc(25% - 105px);
        }
        div:first-child {
            font-size: 2.6rem;
            font-weight: bold;
            span {
                color: $color-background;
            }
        }
    }
.btn {
    font-size: 1.8rem;
    display: inline-block;
    padding: 1rem 2rem;
}
.btn--secondary {
    background-color: $color-background;
}
.btn--rounded {
    border-radius: 10rem;
}

.btn--border {
    border: solid 1px currentColor;
}

// @media screen and (min-width: ) (max-width: 63.9375em) {
// body {
//     color: cyan;
// }
// }


